.nav-container{
    display: flex;
    background-color: var(--color-gris-oscuro);
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-bottom: 3px solid var(--color-azul-interactivo);
}

h1{
    font-size: 30px;
}

.logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.btn-login, .btn-register{
    background-color: var(--color-dorado);
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    color: var(--color-blanco);
    font-weight: bold;
    cursor: pointer;
}

.btn-login:hover, .btn-register:hover{
    background-color: var(--color-azul-interactivo);
    color: var(--color-blanco);
}

.btn-container{
    display: flex;
    gap: 10px;
}
