.nav-container{
    display: flex;
    background-color: var(--color-gris-claro);
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    
}

h1{
    font-size: 35px;
}

.logo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.btn-login, .btn-register{
    background-color: var(--color-dorado);
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    color: var(--color-blanco);
    font-weight: bold;
    cursor: pointer;
}

.btn-container{
    display: flex;
    gap: 10px;
}
