:root {

  --color-dorado: #DAA520;
  --color-blanco: #FFFFFF;

  --color-gris-claro: #cfcebbd8;
  --color-gris-oscuro: #4B4B4B;
  --color-negro-suave: #1C1C1C;

  --color-negro: #000000;

  --color-verde-exito: #2ECC71;
  --color-rojo-error: #E74C3C;
  --color-azul-interactivo: #2C3E50;
}

h1{
  color: var(--color-dorado)
}

.logo{
  width: 150px;
  height: auto;
}